<h1>
    User Profile
</h1>
<!-- <div>
    <center>
        <table class="table table-hover text-center">
            <tr><td>Name </td><td><%= username %></td></tr>
            <tr><td>Phone </td><td><%= phone %></td></tr>
        </table>
    </center>
</div> -->

<ul>
    <li><a href="/logout">Logout</a></li>
</ul>